[submodule "nxhtml"]
	path = nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "magit"]
	path = magit
	url = http://github.com/philjackson/magit.git
[submodule "cedet"]
	path = cedet
	url = http://github.com/emacs-pkg-mirrors/cedet.git
[submodule "malabar-mode"]
	path = malabar-mode
	url = git://github.com/espenhw/malabar-mode.git
[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = http://jblevins.org/git/markdown-mode.git/
[submodule "mingus"]
	path = mingus
	url = git://github.com/pft/mingus.git
[submodule "geiser"]
	path = geiser
	url = git://github.com/jaor/geiser.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
