[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = http://jblevins.org/git/markdown-mode.git/
[submodule "color-theme-zenburn"]
	path = color-theme-zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "site-lisp/eim"]
	path = site-lisp/eim
	url = git@github.com:danking/eim-py.git
[submodule "org-reveal"]
	path = org-reveal
	url = https://github.com/yjwen/org-reveal.git
