[submodule "nxhtml"]
	path = nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "magit"]
	path = magit
	url = http://github.com/philjackson/magit.git
[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
